set -eu
set -o pipefail

nix run .\#update-cargo-toml --show-trace
nix flake update
nix flake check
nix run .\#update-other-cargo-files --show-trace
use flake
find . -name '*.rs' | xargs rustfmt --edition 2024
cargo clean
cargo update
